body {
    display: flex;
    flex-direction: column;
    color:aquamarine;
    border: 0caps solid black;
    background-color: rgb(78, 51, 199);
}
main {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex:auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
.works_on_smartphone main {
    flex-direction: column;
}
.logo {
  font-size: 2rem;
  padding-right: 20px;
  font-weight: bold;
}
header li.logo {
  font-size: 2rem;
  padding-right: 20px;
  font-weight: bold;
}